<!--/**/-->@charset "utf-8";
/* CSS Document */
/* LO PRIMERO QUE HACEMOS ES INCLUIR UN RESET CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

table { 
	border-collapse: collapse; border-spacing: 0; 
}
td, th, caption { 
	font-weight: normal; text-align: left; 
}

img, fieldset { 
	border: 0; 
}

ol { 
	padding-left: 1.4em; list-style: decimal; 
}

ul { 
	padding-left: 1.4em; list-style:square; 
}
q:before, q:after { content:''; }
/* FIN DEL RESET CSS */

body{
	font-size: 62.5%; 
}
h1{
	font: normal 2.4em Sans-serif; 
	background: -webkit-linear-gradient(top, #00F, #0CF);
	width: 35%;
	border-radius: 10px;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	color:white;
	box-shadow: #00F 5px 5px 10px;
	text-shadow: white 2px 2px 3px;
}

h2{
	font: bold 1.7em Sans-serif;
	margin: 0;
	padding: 5px 0 5px 0;
	color: red;
}

section{
	width: 90%;
	border-top: 1px dashed #4E4E4E;
	margin: 15px auto;
}

figure{
	float: left;
}

/*SELECTOR DESCENDIENTE*/
figure img{	

	padding: 4px;
	background: #CDCDCD;
	border-radius: 20px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	box-shadow: grey 5px 5px 10px;
}
/* PSEUDOCLASE */
figure img:hover{	
	-webkit-transform:scale(1.2);
}

figcaption{
	font-family: "Times New Roman", "serif";
	font-size: 1.3em;
	text-align: center;
	margin-top: 5px;
	color: aqua;
	
}

footer{
	clear: both;
	padding-top: 100px;
	
}

footer p{
	font: 1.6em Sans-serif;
	color: gray;
	margin: 10px 8px;
	
}



	